[submodule "rtcan"]
	path = src/Middlewares/SUFST/rtcan
	url = https://github.com/sufst/rtcan
[submodule "ViSi-Genie-C-Library"]
	path = src/Middlewares/Visi-Genie/ViSi-Genie-C-Library
	url = https://github.com/4dsystems/ViSi-Genie-C-Library.git
